@page "/usuarios/create"
@using Blazor_Finance_Web.Enums
@using Blazor_Finance_Web.Models
@using Blazor_Finance_Web.Services.Interfaces
@using Microsoft.EntityFrameworkCore
@inject IUsuarioService usuarioService
@inject NavigationManager navigationManager

<PageTitle>Novo Usuário</PageTitle>

<h2>Novo Usuario</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Usuario" OnValidSubmit="AddUsuario" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="nome" class="form-label">Nome:</label> 
                <InputText id="nome" @bind-Value="Usuario.Nome" class="form-control" /> 
                <ValidationMessage For="() => Usuario.Nome" class="text-danger" /> 
            </div>
            <div class="mb-3">
                <label for="tipo" class="form-label">Tipo Usuário:</label>
                <InputSelect id="tipo" @bind-Value="Usuario.TipoUsuario" class="form-control">
                    <option value="">Selecione um Tipo</option>
                    @foreach (var tipo in Enum.GetValues(typeof(TipoUsuario)))
                    {
                        <option value="@tipo">@tipo</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => Usuario.TipoUsuario" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label> 
                <InputText id="email" @bind-Value="Usuario.Email" class="form-control" /> 
                <ValidationMessage For="() => Usuario.Email" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="senhahash" class="form-label">Senha:</label> 
                <InputText id="senha" @bind-Value="Usuario.Senha" type="password" class="form-control" />
                <ValidationMessage For="() => Usuario.Senha" class="text-danger" />
                @if (showPasswordError)
                {
                    <div class="text-danger">A senha é obrigatória.</div>
                }
            </div>        
            <button type="submit" class="btn btn-primary">Cadastrar</button> | 
            <a href="/usuarios" class="btn btn-outline-secondary">Retornar para lista</a>
        </EditForm>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    private Usuario Usuario { get; set; } = new();
    private bool showPasswordError = false;

    private async Task AddUsuario()
    {
        showPasswordError = false;

        if (string.IsNullOrWhiteSpace(Usuario.Senha))
        {
            showPasswordError = true;
            return;
        }

        try
        {
            // Adiciona o usuário usando o serviço de usuário
            await usuarioService.AddUsuarioAsync(Usuario);
            navigationManager.NavigateTo("/usuarios");
        }
        catch (Exception ex)
        {
            // Lide com erros de maneira apropriada (exibir mensagens, log, etc.)
            Console.WriteLine($"Erro ao adicionar usuário: {ex.Message}");
        }
    }

    private string HashSenha(string senha)
    {
        return BCrypt.Net.BCrypt.HashPassword(senha);
    }
}
