@page "/contas/create"
@using FinanceWeb.Enums
@using FinanceWeb.Services.Interfaces
@using Microsoft.EntityFrameworkCore
@using FinanceWeb.Models
@inject IContaService ContaService
@inject NavigationManager NavigationManager

<PageTitle>Nova Conta</PageTitle>

<h2>Novo Conta</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Conta" OnValidSubmit="AddConta" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="descricao" class="form-label">Descricao:</label> 
                <InputText id="descricao" @bind-Value="Conta.Descricao" class="form-control" /> 
                <ValidationMessage For="() => Conta.Descricao" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="valor" class="form-label">Valor:</label> 
                <InputNumber id="valor" @bind-Value="Conta.Valor" class="form-control" /> 
                <ValidationMessage For="() => Conta.Valor" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="datavencimento" class="form-label">DataVencimento:</label> 
                <InputDate id="datavencimento" @bind-Value="Conta.DataVencimento" class="form-control" /> 
                <ValidationMessage For="() => Conta.DataVencimento" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="pago" class="form-label">Pago:</label> 
                <InputCheckbox id="pago" @bind-Value="Conta.Pago" class="form-check-input" /> 
                <ValidationMessage For="() => Conta.Pago" class="text-danger" /> 
            </div>
            <div class="mb-3">
                <label for="tipo" class="form-label">Tipo:</label>
                <InputSelect id="tipo" @bind-Value="Conta.Tipo" class="form-control">
                    <option value="">Selecione um Tipo</option>
                    @foreach (var tipo in Enum.GetValues(typeof(TipoConta)))
                    {
                        <option value="@tipo">@tipo</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => Conta.Tipo" class="text-danger" />
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button> |
            <a href="/contas" class="btn btn-outline-secondary">Retornar para lista</a>
        </EditForm>
    </div>
</div>

@code {
    private Conta Conta { get; set; } = new();

    private async Task AddConta()
    {
        await ContaService.AddContaAsync(Conta);
        NavigationManager.NavigateTo("/contas");
    }
}
