@page "/contas"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using FinanceWeb.Models
@using FinanceWeb.Data
@implements IAsyncDisposable
@inject IDbContextFactory<FinanceWeb.Data.FinanceWebContext> DbFactory

<PageTitle>Lista Contas</PageTitle>

<h1>Cadastro de Contas a Pagar/Receber</h1>

<p>
    <a href="contas/create" class="btn btn-primary">Nova Conta</a>
</p>

<QuickGrid Class="table table-striped" Items="context.Contas">
    <PropertyColumn Property="conta => conta.Descricao" />
    <PropertyColumn Property="conta => conta.ValorFormatado" Title="Valor" />
    <PropertyColumn Property="conta => conta.DataVencimentoFormatado" Title="Vencimento"/>
    <PropertyColumn Property="conta => conta.Pago" />
    <PropertyColumn Property="conta => conta.TipoFormatado" Title="Tipo" />

    <TemplateColumn Title="Ações" Context="conta">
        <a href="@($"contas/edit?id={conta.Id}")" class="btn btn-info">Editar</a> |
        <a href="@($"contas/details?id={conta.Id}")" class="btn btn-success">Detalhes</a> |
        <a href="@($"contas/delete?id={conta.Id}")" class="btn btn-danger">Deletar</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private FinanceWebContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
