@page "/"

<PageTitle>Página Inicial</PageTitle>

<h1>Olá meu amigo(a)!</h1>

Projeto para cadeira de Práticas Integrativas II

<br />
<br />

<b>Usuário:</b> admin@hotmail.com
<br />
<b>Senha:</b> admin
