# Compiled binary and executable files
bin/
obj/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Build directories
artifacts/
out/

# Visual Studio Code
.vscode/

# ASP.NET Scaffolding
.scaffolding/

# Mac files
.DS_Store

# Files for Windows
Thumbs.db
desktop.ini

# Dependency folders
packages/
node_modules/
wwwroot/lib/

# Configuration files
.env

# Logs
*.log
logs/

# Rider IDE
.idea/
*.sln.iml

# JetBrains Rider
.idea/

# Logs, database, and related
*.log
*.bak

# NPM
node_modules/

# Azure specific
.vs/
.vsconfig
.vscode/
.history/
.sln.ide
